@charset "utf-8";

@import "_var", "_mixin", "_function";

#cnt1{
    @include flex;
    height: 100vh;
    .since_box{
        position: relative;width: 50%;background: url("../images/pc/cnt1_bg.jpg") no-repeat left top / cover;
        .since_txt{
            color: #ddd;font-weight: 700;position: absolute;left: 100px;bottom: 330px;z-index: 5;
            .since{display: block;}
            .year{font-size: 180px;line-height: 130px;}
        }
        .dark{
            position: absolute;bottom: 0;left: 0;width: 100%;height: 400px;background: rgba(0, 0, 0,.4);color: #fff;padding: 129px 143px 128px 116px;font-size: 18px;line-height: 35px;
        }

    }
    .first_box{
        width: 50%;position: relative;
        > *{position: absolute;right: 20%;}
        .circle{
            top: 15%;width: 430px;height: 430px;border-radius: 50%;border: 20px solid #ddd;padding: 140px 24px 184px;font-size: 18px;text-align: right;
            .red{font-size: 40px;font-weight: 700;}
        }
        .filmcase{top: 45%;width: 500px;height: 260px;}
        .camera{top: 60%;width: 300px;height: 290px;}
    }
}
#cnt2{
    padding: calc-vw1920(100) 0 calc-vw1920(500);overflow: hidden;
    .sub_tit{
        padding: 0 calc-vw1920(190);
        h2{height: 65px;}
        p{padding-top: 30px;line-height: 35px;}
    }
    ul{
        @include flex;
        @include transform(rotate(-33deg));
        li{
            margin-right: 50px;
            a img{box-shadow: -20px 40px 6px #ddd;border-radius: 30px;}
        }
    }
    .up{
        margin-left: calc-vw1920(-250);
        margin-bottom: calc-vw1920(100);
        li:nth-child(1) img, li:nth-child(4) img{width: 400px;}
        li:nth-child(2) img{width: 430px;}
        li:nth-child(3) img{width: 381px;}
    }
    .down{
        margin-left: calc-vw1920(350);
        li:nth-child(1) img, li:nth-child(3) img{width: 500px;}
        li:nth-child(2){
            margin-top: 60px;
            img{
            @include transform(rotate(-90deg));
            height: 300px;border-radius: 40px;box-shadow: -40px -40px 6px #ddd;
            }
        }
    }
}
#cnt3{
    background: url("../images/pc/cnt3_bg.jpg") no-repeat left top / cover;height: 100vh;padding: calc-vw1920(100) calc-vw1920(190);
    h2{padding-bottom: 30px;}
    p{padding: 10px 0;}
   .motion{
       @include flex;
       @include align-items;
       @include justify-content(flex-start);
       padding-left: 400px;
       .vanish{
           * {padding-right: 80px;}
           .phone{height: 450px;}
           .bluetooth{height: 150px;margin: 160px 0;}
       }
       .print{
        position: relative;width: 420px;height: 260px;
        .camera{position: absolute;z-index: 5;left: 0;top: 0;width: 400px;}
        .img_m, .img_b{
            @include translateY-50;
            position: absolute;right: -10%;top: 50%;z-index: 3;
        }
        .img_b{opacity: 0;position: relative;z-index: 7;}
       }
   }
}
#cnt4, #cnt5{
    padding: 0 calc-vw1920(190);
    h2{margin: 80px 0 30px;}
}
#cnt4{
    position: relative;height: 180vh;
    h2{border: 20px solid $yellow;display: inline-block;padding: 50px 150px 80px 50px;}
    .pass_wrapper{
        @include translateY-50;
        position: absolute;left:20%;top:50%;width: 1300px;height: 869px;overflow:hidden;box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      
      /* Our image information */
      .before, .after {
        position: absolute;top:0;left:0;width:100%;height:100%;background: #fff no-repeat center / cover; pointer-events:none;overflow: hidden;
      }
      .scroller{
          @include translateY-50;
            position: absolute;left:100px;top:50%;width: 50px;height:50px;border-radius:50%;background-color: transparent;opacity:0.6;pointer-events:auto;cursor: pointer;border: 5px solid #fff;
            &.scroller:hover{opacity:1;}
            .scroller__thumb{width:100%;height:100%;padding:5px;}
            &:before, &:after{content:" ";display: block;width: 7px;height: 9999px;position: absolute;left: 50%;margin-left: -3.5px;z-index: 30;transition:0.1s;}
      }
      .scrolling{pointer-events:none;opacity:1;}// z-index: 1;
      .scroller:before{
        top:100%;
      }
      .scroller:after{
        bottom:100%;
      }
      
      /* If you want to cahnge the colors, make sure you change the fill in the svgs to match */
      .scroller:before,
      .scroller:after{
        background: #fff;
      }
    }
    .txt_box{
        position: absolute;right: 10%;bottom: 50px;border: 20px solid $yellow;padding: 10px 50px;
        > *{padding: 15px 0;}
        h3{font-size: 30px;padding-bottom: 30px;}
    }
}
#cnt5{
    background: #faf2e7;height: 100vh;
    .event_pc{
        @include flex;
        margin: 100px 0;
        li{
            margin-right: 15px;position: relative;
            .event_img{width: 160px;height: 467px;background: no-repeat;}
        }
        li:nth-child(1) .event_img{background-image: url("../images/pc/event1.jpg");background-position: 50% 0;}
        li:nth-child(2) .event_img{background-image: url("../images/pc/event2.jpg");background-position: 47% 0;width: 496px;}
        li:nth-child(3) .event_img{background-image: url("../images/pc/event3.jpg");background-position: 56% 0;}
        li:nth-child(4) .event_img{background-image: url("../images/pc/event4.jpg");background-position: 17% 0;}
        li:nth-child(5) .event_img{background-image: url("../images/pc/event5.jpg");background-position: 7% 0;}
        li:nth-child(6) .event_img{background-image: url("../images/pc/event6.jpg");background-position: 79% 0;}
        .event_txt{
            position: absolute;left: 0;bottom: -105px;background: #fff;width: 496px;height: 105px;padding: 10px 55px 25px 25px;display: none;
            h3{font-size: 30px;font-weight: 700;line-height: 47px;}
            p{font-size: 18px;line-height: 35px;}
            a{font-size: 20px;position: absolute;right: 45px;top: 35px;padding-right: 20px;background: url("../images/pc/btn_more.png") no-repeat 100% 55%;}
        }
        li:nth-child(2) .event_txt{display: block;}
    }
}

@media screen and (max-width: 1440px) {
    #cnt1 {
        .dark .dp_change{display: block;}
    }
}