.print{
    @include transition(all 0.5s);
     position: relative;width: 420px;height: 260px;
     .camera{position: absolute;z-index: 5;left: 0;top: 0;width: 400px;}
     .img_m, .img_b{
         @include translateY-50;
         position: absolute;right: 10%;top: 50%;z-index: 3;
     }
     .img_b{opacity: 0;position: absolute;top: 50px;left: 0;z-index: 7;}
}
.print.outMini .img_m{right: -10%;}
.print.outMiniMove .img_m{right: 50%;}
.print.outMini.outBig .img_b{opacity: 1;left: 100%;}
