body {
  overflow-x: hidden; }

.header {
  display: -webkit-box;
  display: -mox-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  position: fixed;
  top: 0;
  background: #FFB300;
  z-index: 500; }
  .header .logo {
    display: -webkit-box;
    display: -mox-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: 0; }
    .header .logo a {
      width: 160px;
      height: 90px;
      font-size: 20px;
      padding-left: 72px;
      background: no-repeat left 50%; }
      .header .logo a .logo_txt {
        padding: 17px 0;
        display: block; }
        .header .logo a .logo_txt span {
          font-size: 18px; }
  .header .util .shop {
    margin-right: 50px; }
  .header .util .search_wrap {
    position: absolute;
    right: 0;
    top: 90px;
    width: 100%;
    height: 250px;
    text-align: center;
    background: rgba(0, 0, 0, 0.9);
    z-index: 100;
    color: #fff; }
    .header .util .search_wrap .top {
      height: 150px;
      padding: 50px 0; }
      .header .util .search_wrap .top::after {
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        content: "";
        position: absolute;
        left: 50%;
        top: 100px;
        width: 275px;
        height: 1px;
        background: #fff; }
      .header .util .search_wrap .top input {
        height: 50px;
        line-height: 50px;
        position: relative;
        /* Edge */
        /* Internet   Explorer 10-11 */ }
        .header .util .search_wrap .top input::-webkit-input-placeholder {
          color: #fff;
          font-size: 20px;
          line-height: 20px; }
        .header .util .search_wrap .top input:-ms-input-placeholder {
          color: #fff;
          font-size: 20px;
          line-height: 20px; }
        .header .util .search_wrap .top input::placeholder {
          color: #fff;
          font-size: 20px;
          line-height: 20px; }
      .header .util .search_wrap .top button {
        height: 50px;
        line-height: 50px;
        margin-left: 50px; }
    .header .util .search_wrap .bottom {
      display: -webkit-box;
      display: -mox-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center; }
      .header .util .search_wrap .bottom li {
        margin-right: 40px;
        border-radius: 25px;
        border: 1px solid #fff; }
        .header .util .search_wrap .bottom li a {
          display: block;
          padding: 7px 13px; }
    .header .util .search_wrap .search_close {
      position: absolute;
      right: 25px;
      top: 40px;
      width: 30px;
      height: 30px; }
      .header .util .search_wrap .search_close::before, .header .util .search_wrap .search_close::after {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 2px; }
      .header .util .search_wrap .search_close::before {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg); }
      .header .util .search_wrap .search_close::after {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg); }

#pcHeader {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  left: 5%;
  width: 90%;
  height: 90px;
  padding: 0 80px; }
  #pcHeader.on {
    left: 0;
    width: 100%; }
  #pcHeader .logo a {
    background-image: url("../images/pc/logo_pc.png"); }
  #pcHeader #pGnb {
    display: -webkit-box;
    display: -mox-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    z-index: 200; }
    #pcHeader #pGnb.active::before {
      content: "";
      position: absolute;
      left: 0;
      top: 89px;
      width: 100%;
      height: 60px;
      background: rgba(0, 0, 0, 0.9); }
    #pcHeader #pGnb > ul {
      display: -webkit-box;
      display: -mox-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex; }
      #pcHeader #pGnb > ul > li {
        position: relative;
        margin-right: 45px;
        height: 90px;
        line-height: 90px; }
        #pcHeader #pGnb > ul > li > a {
          font-weight: 700;
          font-size: 20px; }
        #pcHeader #pGnb > ul > li.on > a {
          color: #E32425; }
        #pcHeader #pGnb > ul > li ul {
          display: -webkit-box;
          display: -mox-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          position: absolute;
          top: 90px;
          left: 0;
          width: 400px;
          height: 60px;
          color: #fff;
          line-height: 60px; }
          #pcHeader #pGnb > ul > li ul li {
            margin-right: 20px; }
  #pcHeader .util {
    display: -webkit-box;
    display: -mox-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 80px; }
    #pcHeader .util .search_close {
      right: 40px;
      top: 40px;
      z-index: 250; }
      #pcHeader .util .search_close::before, #pcHeader .util .search_close::after {
        background: #fff; }

#mHeader {
  visibility: hidden;
  overflow: hidden;
  height: 0; }

#footer {
  position: relative;
  width: 100%;
  height: 200px;
  background: #222;
  color: #fff;
  padding: 30px 40px; }
  #footer .foot_link {
    position: relative;
    font-size: 14px;
    line-height: 16px;
    height: 40px; }
    #footer .foot_link li {
      float: left;
      margin-right: 30px; }
    #footer .foot_link .big_font {
      font-weight: 500;
      font-size: 16px;
      color: #FFB300; }
    #footer .foot_link::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 70%;
      height: 1px;
      background: #fff; }
  #footer .sns {
    position: absolute;
    right: 40px;
    top: 30px;
    width: 210px; }
    #footer .sns li {
      float: left;
      margin-left: 38px;
      width: 30px;
      height: 30px;
      line-height: 30px; }
    #footer .sns li:last-child {
      margin-left: 25px;
      padding: 5px 0; }
  #footer > div {
    float: left;
    font-size: 12px;
    padding: 15px 120px 15px 0;
    line-height: 18px; }
    #footer > div strong {
      font-size: 16px;
      display: block;
      margin-bottom: 10px; }
    #footer > div .copy {
      padding-top: 10px; }

.btn_top {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 55px;
  height: 60px;
  background: url("../images/pc/top_btn.png") no-repeat 50% 5px;
  padding: 27px 5px 5px;
  font-weight: 700;
  border: 3px solid #222;
  border-radius: 10px;
  z-index: 100; }

.btn_top.on {
  border-color: #FFB300;
  color: #FFB300;
  background-image: url("../images/pc/top_btn_on.png"); }

@media screen and (max-width: 1440px) {
  .header .util .shop {
    margin-right: 40px; }

  #pcHeader {
    padding: 0 60px; }
    #pcHeader .logo a {
      background-image: url("../images/tablet/logo_tablet.png"); }
    #pcHeader #pGnb > ul > li {
      margin-right: 35px;
      height: 80px;
      line-height: 80px; }
      #pcHeader #pGnb > ul > li > a {
        font-size: 16px; }
      #pcHeader #pGnb > ul > li ul {
        top: 80px; }
    #pcHeader .util .search_close {
      right: 50px; } }
@media screen and (max-width: 1080px) {
  #pcHeader {
    display: none; }

  .header .logo a {
    width: 9.2592592593vw;
    height: 9.2592592593vw;
    padding: 0; }

  #mHeader {
    left: 0;
    width: 100%;
    height: 9.2592592593vw;
    padding: 0 3.7037037037vw;
    visibility: visible;
    overflow: visible; }
    #mHeader .logo a {
      background-image: url("../images/mobile/logo_m.png"); }
    #mHeader .gnb_open_btn {
      position: relative;
      width: 3.7037037037vw;
      height: 3.4259259259vw;
      z-index: 100; }
      #mHeader .gnb_open_btn .line {
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        position: absolute;
        left: 0;
        width: 100%;
        height: 0.3703703704vw;
        background: #000; }
      #mHeader .gnb_open_btn .line1 {
        top: 0; }
      #mHeader .gnb_open_btn .line2 {
        top: 1.3888888889vw; }
      #mHeader .gnb_open_btn .line3 {
        top: 2.7777777778vw; }
    #mHeader .gnb_open_btn.active .line1 {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 1.0185185185vw; }
    #mHeader .gnb_open_btn.active .line2 {
      opacity: 0; }
    #mHeader .gnb_open_btn.active .line3 {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 1.0185185185vw; }
    #mHeader #mGnb {
      position: fixed;
      left: -100%;
      top: 0;
      width: 100vw;
      height: 100%;
      background: #FFB300; }
      #mHeader #mGnb > ul {
        padding: 18.5185185185vw 6.0185185185vw; }
        #mHeader #mGnb > ul > li {
          margin-bottom: 6.0185185185vw; }
          #mHeader #mGnb > ul > li > a {
            position: relative;
            font-size: 5.5555555556vw;
            line-height: 6.0185185185vw;
            font-weight: 700;
            display: block;
            padding: 1.8518518519vw 4.1666666667vw 1.8518518519vw 0; }
            #mHeader #mGnb > ul > li > a::before, #mHeader #mGnb > ul > li > a::after {
              content: "";
              position: absolute;
              right: 3.2407407407vw;
              top: 40%;
              width: 4.6296296296vw;
              height: 0.5555555556vw;
              background: #222; }
            #mHeader #mGnb > ul > li > a::after {
              -webkit-transform: rotate(90deg);
              -moz-transform: rotate(90deg);
              -ms-transform: rotate(90deg);
              -o-transform: rotate(90deg);
              transform: rotate(90deg); }
          #mHeader #mGnb > ul > li.on > a::after {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg); }
          #mHeader #mGnb > ul > li ul {
            visibility: hidden;
            max-height: 0;
            overflow: hidden;
            color: #fff;
            background: #222; }
            #mHeader #mGnb > ul > li ul li {
              padding: 2.3148148148vw 3.7037037037vw;
              font-size: 2.7777777778vw;
              border-bottom: 1px solid #FFB300; }
    #mHeader .search_open img {
      width: 3.7037037037vw;
      height: 4.6296296296vw; }
    #mHeader #dim {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      background: rgba(0, 0, 0, 0.5); }
    #mHeader .util .search_wrap {
      position: absolute;
      left: 100%;
      top: 0;
      width: 100%;
      height: 50vh;
      background: #FFB300;
      color: #222; }
      #mHeader .util .search_wrap .top {
        padding: 18.5185185185vw 0; }
        #mHeader .util .search_wrap .top::after {
          background-color: #222;
          top: 27.7777777778vw;
          height: 0.3703703704vw;
          width: 37.037037037vw; }
        #mHeader .util .search_wrap .top input {
          /* Edge */
          /* Internet   Explorer 10-11 */ }
          #mHeader .util .search_wrap .top input::-webkit-input-placeholder {
            color: #222;
            font-size: 3.7037037037vw;
            line-height: 3.7037037037vw;
            font-weight: 700;
            width: 23.1481481481vw; }
          #mHeader .util .search_wrap .top input:-ms-input-placeholder {
            color: #222;
            font-size: 3.7037037037vw;
            line-height: 3.7037037037vw;
            font-weight: 700;
            width: 23.1481481481vw; }
          #mHeader .util .search_wrap .top input::placeholder {
            color: #222;
            font-size: 3.7037037037vw;
            line-height: 3.7037037037vw;
            font-weight: 700;
            width: 23.1481481481vw; }
        #mHeader .util .search_wrap .top button img {
          width: 4.6296296296vw;
          height: 6.0185185185vw;
          line-height: 6.0185185185vw;
          margin-left: 5.5555555556vw; }
      #mHeader .util .search_wrap .bottom {
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: center;
        justify-content: center;
        padding: 0 13.8888888889vw; }
        #mHeader .util .search_wrap .bottom li {
          margin-right: 5.5555555556vw;
          border-color: #222;
          margin-top: 2.7777777778vw;
          border-width: 0.3703703704vw;
          border-radius: 3.7037037037vw; }
          #mHeader .util .search_wrap .bottom li a {
            padding: 1.1111111111vw 1.6666666667vw;
            font-weight: 700;
            font-size: 3.2407407407vw; }
      #mHeader .util .search_wrap .search_close {
        top: 2.3148148148vw;
        width: 4.6296296296vw;
        height: 4.6296296296vw; }
      #mHeader .util .search_wrap .search_close::before, #mHeader .util .search_wrap .search_close::after {
        background: #222;
        height: 0.462962963vw; } }
@media screen and (max-width: 767px) {
  .header .logo a {
    width: 18.6666666667vw;
    height: 21.3333333333vw;
    padding: 0; }

  #mHeader {
    height: 21.3333333333vw;
    padding: 0 5.3333333333vw; }
    #mHeader .gnb_open_btn {
      width: 6.4vw;
      height: 4.2666666667vw; }
      #mHeader .gnb_open_btn .line {
        height: 0.5333333333vw; }
      #mHeader .gnb_open_btn .line2 {
        top: 2.4vw; }
      #mHeader .gnb_open_btn .line3 {
        top: 4.8vw; }
    #mHeader .gnb_open_btn.active .line1 {
      top: 2.4vw; }
    #mHeader .gnb_open_btn.active .line3 {
      top: 2.4vw; }
    #mHeader #mGnb > ul {
      padding: 26.6666666667vw 17.3333333333vw; }
      #mHeader #mGnb > ul > li {
        margin-bottom: 9.3333333333vw; }
        #mHeader #mGnb > ul > li > a {
          font-size: 8vw;
          line-height: 9.3333333333vw;
          padding: 4vw 10.6666666667vw 4vw 0; }
          #mHeader #mGnb > ul > li > a::before, #mHeader #mGnb > ul > li > a::after {
            right: 1.3333333333vw;
            top: 50%;
            width: 5.3333333333vw;
            height: 0.8vw; }
        #mHeader #mGnb > ul > li ul li {
          padding: 5.3333333333vw 10.6666666667vw;
          font-size: 4.2666666667vw; }
    #mHeader .search_open img {
      width: 7.7333333333vw;
      height: 9.8666666667vw; }
    #mHeader .util .search_wrap {
      height: 600%;
      background: #FFB300;
      color: #222; }
      #mHeader .util .search_wrap .top {
        padding: 26.6666666667vw 0; }
        #mHeader .util .search_wrap .top::after {
          top: 40vw;
          height: 0.5333333333vw;
          width: 80vw; }
        #mHeader .util .search_wrap .top input {
          /* Edge */
          /* Internet   Explorer 10-11 */ }
          #mHeader .util .search_wrap .top input::-webkit-input-placeholder {
            color: #222;
            font-size: 6.6666666667vw;
            line-height: 6.6666666667vw;
            font-weight: 700; }
          #mHeader .util .search_wrap .top input:-ms-input-placeholder {
            color: #222;
            font-size: 6.6666666667vw;
            line-height: 6.6666666667vw;
            font-weight: 700; }
          #mHeader .util .search_wrap .top input::placeholder {
            color: #222;
            font-size: 6.6666666667vw;
            line-height: 6.6666666667vw;
            font-weight: 700; }
        #mHeader .util .search_wrap .top button img {
          width: 9.3333333333vw;
          height: 12vw;
          line-height: 18.6666666667vw;
          margin-left: 16vw; }
      #mHeader .util .search_wrap .bottom {
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: center;
        justify-content: center;
        padding: 0; }
        #mHeader .util .search_wrap .bottom li {
          margin-right: 5.3333333333vw;
          border-color: #222;
          margin-top: 7.2vw;
          border-width: 0.5333333333vw;
          border-radius: 8vw; }
          #mHeader .util .search_wrap .bottom li a {
            padding: 1.8666666667vw 3.4666666667vw;
            font-size: 5.3333333333vw; }
      #mHeader .util .search_wrap .search_close {
        top: 6.6666666667vw;
        width: 8.5333333333vw;
        height: 8.5333333333vw; }
      #mHeader .util .search_wrap .search_close::before, #mHeader .util .search_wrap .search_close::after {
        background: #222; }

  .btn_top {
    right: 15px;
    bottom: 15px;
    border-width: 2px; }

  #footer {
    height: auto; }
    #footer .foot_link {
      font-size: 3.7333333333vw;
      line-height: 4.2666666667vw;
      height: 10.6666666667vw;
      margin-top: 20vw; }
      #footer .foot_link li {
        float: left;
        margin-right: 4vw; }
      #footer .foot_link .big_font {
        font-size: 3.7333333333vw; }
      #footer .foot_link::after {
        width: 80%; }
    #footer .sns {
      position: absolute;
      left: 0;
      top: 8vw;
      width: 56vw; }
      #footer .sns li {
        float: left;
        margin-left: 10.1333333333vw;
        width: 8vw;
        height: 8vw;
        line-height: 8vw; }
      #footer .sns li:last-child {
        margin-left: 6.6666666667vw;
        padding: 1.3333333333vw 0; }
    #footer > div {
      float: left;
      font-size: 3.2vw;
      padding: 4vw 32vw 4vw 0;
      line-height: 4.8vw; }
      #footer > div strong {
        font-size: 4.2666666667vw;
        display: block;
        margin-bottom: 2.6666666667vw; }
      #footer > div .copy {
        padding-top: 2.6666666667vw; }
    #footer .dp_change {
      display: block; } }

/*# sourceMappingURL=layout.css.map */
