#cnt1 {
  display: -webkit-box;
  display: -mox-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 100vh; }
  #cnt1 .since_box {
    position: relative;
    width: 50%;
    background: url("../images/pc/cnt1_bg.jpg") no-repeat left top/cover; }
    #cnt1 .since_box .since_txt {
      color: #ddd;
      font-weight: 700;
      position: absolute;
      left: 100px;
      bottom: 330px;
      z-index: 5; }
      #cnt1 .since_box .since_txt .since {
        display: block;
        font-size: 60px;
        font-weight: 700;
        padding: 0 0 20px 10px; }
      #cnt1 .since_box .since_txt .year {
        font-size: 180px;
        line-height: 130px; }
    #cnt1 .since_box .dark {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 400px;
      background: rgba(0, 0, 0, 0.4);
      color: #fff;
      padding: 100px 143px 128px 116px;
      font-size: 18px;
      line-height: 45px; }
      #cnt1 .since_box .dark .yellow {
        font-size: 25px;
        font-weight: 500; }
  #cnt1 .first_box {
    position: relative;
    width: 50%;
    background: #faf2e7; }
    #cnt1 .first_box > * {
      position: absolute;
      right: 20%; }
    #cnt1 .first_box .circle {
      top: 15%;
      width: 430px;
      height: 430px;
      border-radius: 50%;
      border: 20px solid rgba(233, 233, 233, 0.7);
      padding: 140px 24px 184px;
      font-size: 18px;
      text-align: right; }
      #cnt1 .first_box .circle .red {
        font-size: 40px;
        font-weight: 700; }
    #cnt1 .first_box .filmcase {
      top: 45%;
      width: 500px;
      height: 260px; }
    #cnt1 .first_box .camera {
      top: 60%;
      width: 300px;
      height: 290px; }

#cnt2, #cnt3, #cnt4, #cnt5 {
  padding: 5.2083333333vw 10.4166666667vw;
  box-sizing: content-box; }

#cnt2 {
  overflow: hidden; }
  #cnt2 .sub_tit h2 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
    height: 65px; }
  #cnt2 .sub_tit p {
    font-size: 18px;
    padding-bottom: 10px;
    line-height: 1.9; }
  #cnt2 ul {
    display: -webkit-box;
    display: -mox-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transform: rotate(-33deg);
    -moz-transform: rotate(-33deg);
    -ms-transform: rotate(-33deg);
    -o-transform: rotate(-33deg);
    transform: rotate(-33deg); }
    #cnt2 ul li {
      margin-right: 50px; }
      #cnt2 ul li a img {
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        border-radius: 30px;
        box-shadow: none; }
    #cnt2 ul li.on a img {
      -webkit-transform: translateY(-20%);
      -moz-transform: translateY(-20%);
      -ms-transform: translateY(-20%);
      -o-transform: translateY(-20%);
      transform: translateY(-20%);
      box-shadow: -20px 40px 6px #ddd; }
  #cnt2 .up {
    margin-left: -13.0208333333vw;
    margin-bottom: 5.2083333333vw; }
    #cnt2 .up li:nth-child(1) img, #cnt2 .up li:nth-child(4) img {
      width: 400px; }
    #cnt2 .up li:nth-child(2) img {
      width: 430px; }
    #cnt2 .up li:nth-child(3) img {
      width: 381px; }
  #cnt2 .down {
    margin-left: 18.2291666667vw; }
    #cnt2 .down li:nth-child(1) img, #cnt2 .down li:nth-child(3) img {
      width: 500px; }
    #cnt2 .down li:nth-child(2) {
      margin-top: 60px; }
      #cnt2 .down li:nth-child(2) img {
        -webkit-transform: rotate(-90deg) translateX(0);
        -moz-transform: rotate(-90deg) translateX(0);
        -ms-transform: rotate(-90deg) translateX(0);
        -o-transform: rotate(-90deg) translateX(0);
        transform: rotate(-90deg) translateX(0);
        height: 300px;
        border-radius: 40px;
        box-shadow: none; }
    #cnt2 .down li.on a img {
      -webkit-transform: rotate(-90deg) translateX(20%);
      -moz-transform: rotate(-90deg) translateX(20%);
      -ms-transform: rotate(-90deg) translateX(20%);
      -o-transform: rotate(-90deg) translateX(20%);
      transform: rotate(-90deg) translateX(20%);
      box-shadow: -40px -40px 6px #ddd; }

#cnt3 {
  background: url("../images/pc/cnt3_bg.jpg") no-repeat left top/cover;
  overflow: hidden; }
  #cnt3 .tit_txt h2 {
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 30px; }
  #cnt3 .tit_txt p {
    padding: 10px 0;
    font-size: 18px;
    padding-bottom: 10px; }
  #cnt3 .motion {
    display: -webkit-box;
    display: -mox-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    margin-top: 35px; }
    #cnt3 .motion .vanish {
      width: 600px;
      height: 500px; }
      #cnt3 .motion .vanish * {
        padding-right: 100px; }
      #cnt3 .motion .vanish .phone {
        height: 450px; }
      #cnt3 .motion .vanish .bluetooth {
        height: 150px;
        margin: 160px 0; }
    #cnt3 .motion .vanish.on .phone {
      -webkit-animation: moveLitRight 1s ease-in-out 1 forwards;
      -moz-animation: moveLitRight 1s ease-in-out 1 forwards;
      animation: moveLitRight 1s ease-in-out 1 forwards; }
@-webkit-keyframes moveLitRight {}
@-moz-keyframes moveLitRight {}
    #cnt3 .motion .vanish.on .bluetooth {
      -webkit-animation: blink 0.5s ease-in-out infinite forwards;
      -moz-animation: blink 0.5s ease-in-out infinite forwards;
      animation: blink 0.5s ease-in-out infinite forwards; }
@-webkit-keyframes blink {}
@-moz-keyframes blink {}
    #cnt3 .motion .print {
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      position: relative;
      width: 1000px;
      height: 500px; }
      #cnt3 .motion .print .camera {
        position: absolute;
        z-index: 100;
        left: 0;
        top: 0;
        width: 445px;
        height: 258px;
        background: url("../images/pc/cnt3_camera.png") no-repeat;
        margin: 112px 0; }
      #cnt3 .motion .print .img_m {
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        position: absolute;
        right: 10%;
        top: 50%;
        z-index: 3;
        width: 245px;
        height: 184px;
        background: url("../images/pc/cnt3_img_m.png") no-repeat;
        opacity: 0; }
      #cnt3 .motion .print .img_b {
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        background: url("../images/pc/cnt3_img_b.png") no-repeat;
        position: absolute;
        right: -40%;
        top: 50%;
        z-index: 3;
        width: 600px;
        height: 450px;
        opacity: 0; }

@keyframes moveLitRight {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg); }
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); } }
@keyframes blink {
  0% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
#cnt4 {
  position: relative;
  height: 80.7291666667vw; }
  #cnt4 h2 {
    display: inline-block;
    font-size: 50px;
    font-weight: 700; }
  #cnt4 .pass_wrapper {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    left: 15%;
    top: 44.2708333333vw;
    width: 67.7083333333vw;
    height: 45.2604166667vw;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    /* Our image information */
    /* If you want to cahnge the colors, make sure you change the fill in the svgs to match */ }
    #cnt4 .pass_wrapper .before, #cnt4 .pass_wrapper .after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #fff no-repeat center / cover;
      pointer-events: none;
      overflow: hidden; }
      #cnt4 .pass_wrapper .before img, #cnt4 .pass_wrapper .after img {
        width: 67.7083333333vw;
        height: 45.2604166667vw; }
    #cnt4 .pass_wrapper .scroller {
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      position: absolute;
      left: 100px;
      top: 50%;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: transparent;
      opacity: 0.6;
      pointer-events: auto;
      cursor: pointer;
      border: 5px solid #fff; }
      #cnt4 .pass_wrapper .scroller.scroller:hover {
        opacity: 1; }
      #cnt4 .pass_wrapper .scroller .scroller__thumb {
        width: 100%;
        height: 100%;
        padding: 5px; }
      #cnt4 .pass_wrapper .scroller:before, #cnt4 .pass_wrapper .scroller:after {
        content: " ";
        display: block;
        width: 7px;
        height: 9999px;
        position: absolute;
        left: 50%;
        margin-left: -3.5px;
        z-index: 30;
        transition: 0.1s; }
      #cnt4 .pass_wrapper .scroller .point {
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-animation: moveLeft 1s ease-in-out infinite forwards;
        -moz-animation: moveLeft 1s ease-in-out infinite forwards;
        animation: moveLeft 1s ease-in-out infinite forwards;
        position: absolute;
        left: 100px;
        top: 50%;
        width: 100px;
        height: 88px;
        background: url("../images/pc/point_right.png") no-repeat; }
@-webkit-keyframes moveLeft {}
@-moz-keyframes moveLeft {}
    #cnt4 .pass_wrapper .scrolling {
      pointer-events: none;
      opacity: 1; }
    #cnt4 .pass_wrapper .scroller:before {
      top: 100%; }
    #cnt4 .pass_wrapper .scroller:after {
      bottom: 100%; }
    #cnt4 .pass_wrapper .scroller:before,
    #cnt4 .pass_wrapper .scroller:after {
      background: #fff; }
  #cnt4 #pass_delaySlide {
    visibility: hidden;
    max-height: 0;
    overflow: hidden; }
  #cnt4 .txt_box {
    position: absolute;
    right: 15%;
    top: 67.7083333333vw; }
    #cnt4 .txt_box > * {
      padding: 15px 0; }
    #cnt4 .txt_box h3 {
      font-size: 40px;
      padding-bottom: 30px; }
    #cnt4 .txt_box p {
      font-size: 18px;
      padding-bottom: 10px; }

@keyframes moveLeft {
  0% {
    left: 100px; }
  100% {
    left: 150px; } }
#cnt5 {
  background: #faf2e7;
  box-sizing: border-box; }
  #cnt5 h2 {
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 30px; }
  #cnt5 p {
    font-size: 18px;
    padding-bottom: 10px; }
  #cnt5 .event_pc {
    display: -webkit-box;
    display: -mox-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding-top: 30px;
    margin-bottom: 100px; }
    #cnt5 .event_pc li {
      margin-right: 20px;
      position: relative; }
      #cnt5 .event_pc li .event_img {
        -webkit-transition: width 0.5s;
        transition: width 0.5s;
        width: 8.3333333333vw;
        height: 467px;
        background: no-repeat;
        cursor: pointer; }
    #cnt5 .event_pc li:nth-child(1) .event_img {
      background-image: url("../images/pc/event1.jpg");
      background-position: 50% 0; }
    #cnt5 .event_pc li:nth-child(2) .event_img {
      background-image: url("../images/pc/event2.jpg");
      background-position: 47% 0; }
    #cnt5 .event_pc li:nth-child(3) .event_img {
      background-image: url("../images/pc/event3.jpg");
      background-position: 79% 0; }
    #cnt5 .event_pc li:nth-child(4) .event_img {
      background-image: url("../images/pc/event4.jpg");
      background-position: 56% 0; }
    #cnt5 .event_pc li:nth-child(5) .event_img {
      background-image: url("../images/pc/event5.jpg");
      background-position: 7% 0; }
    #cnt5 .event_pc li:nth-child(6) .event_img {
      background-image: url("../images/pc/event6.jpg");
      background-position: 17% 0; }
    #cnt5 .event_pc .event_txt {
      position: absolute;
      left: 0;
      bottom: -100px;
      background: #fff;
      width: 25.8333333333vw;
      height: 105px;
      padding: 10px 5px 25px 25px;
      visibility: hidden; }
      #cnt5 .event_pc .event_txt h3 {
        font-size: 30px;
        font-weight: 700;
        line-height: 47px; }
      #cnt5 .event_pc .event_txt p {
        font-size: 18px;
        line-height: 35px; }
      #cnt5 .event_pc .event_txt a {
        font-size: 20px;
        font-weight: 600;
        position: absolute;
        right: 25px;
        top: 15px;
        padding: 5px 30px 5px 10px;
        background: url("../images/pc/btn_more.png") no-repeat 95% 55%;
        border: 1px solid #222;
        border-radius: 10px; }
      #cnt5 .event_pc .event_txt a:hover, #cnt5 .event_pc .event_txt a:focus {
        border-color: #FFB300;
        color: #FFB300;
        background-image: url("../images/pc/btmn_more_on.png"); }
    #cnt5 .event_pc li.on .event_img {
      width: 25.8333333333vw; }
    #cnt5 .event_pc li.on .event_txt {
      visibility: visible; }
  #cnt5 #acdn {
    visibility: hidden;
    max-height: 0;
    overflow: hidden; }

@media screen and (max-width: 1481px) {
  #cnt1 .since_box .dark {
    padding: 100px 0 10px 100px; }
  #cnt1 .first_box .circle {
    top: 18%;
    padding: 120px 24px 184px; }
  #cnt1 .first_box .filmcase {
    width: 400px;
    height: 200px;
    top: 50%; }
  #cnt1 .first_box .camera {
    width: 250px;
    height: 210px;
    top: 65%; }

  #cnt2, #cnt3, #cnt4, #cnt5 {
    padding: 6.9444444444vw 6.9444444444vw; }

  #cnt2 .sub_tit h2 {
    font-size: 40px; }
  #cnt2 ul li a img {
    border-radius: 20px; }
  #cnt2 .up {
    margin-left: -10.4166666667vw;
    margin-bottom: 3.4722222222vw; }
    #cnt2 .up li:nth-child(1) img, #cnt2 .up li:nth-child(4) img {
      width: 300px; }
    #cnt2 .up li:nth-child(2) img {
      width: 350px; }
    #cnt2 .up li:nth-child(3) img {
      width: 280px; }
  #cnt2 .down li:nth-child(1) img, #cnt2 .down li:nth-child(3) img {
    width: 350px; }
  #cnt2 .down li:nth-child(2) img {
    height: 205px;
    border-radius: 30px; }

  #cnt3 .tit_txt h2 {
    font-size: 40px; }
  #cnt3 .motion {
    padding-left: 200px;
    margin-top: 50px; }
    #cnt3 .motion .vanish * {
      padding-right: 60px; }
    #cnt3 .motion .vanish .phone {
      height: 350px; }
    #cnt3 .motion .vanish .bluetooth {
      height: 120px;
      margin: 140px 0; }
    #cnt3 .motion .print .camera {
      width: 350px; }
    #cnt3 .motion .print .img_m {
      right: 30%; }
    #cnt3 .motion .print.outMini .img_m {
      right: -30%; }

  #cnt4 h2 {
    font-size: 40px; }
  #cnt4 .txt_box h3 {
    font-size: 25px; }
  #cnt4 h2, #cnt4 .txt_box {
    border-width: 15px; }

  #cnt5 h2 {
    font-size: 40px; }
  #cnt5 .event_pc li .event_img {
    width: 9.0277777778vw; }
  #cnt5 .event_pc li .event_txt a {
    font-size: 16px; } }
@media screen and (max-width: 1194px) {
  #cnt5 .event_pc li {
    margin-right: 20px; }
    #cnt5 .event_pc li .event_img {
      width: 8.6264656616vw;
      height: 25.1256281407vw; }
  #cnt5 .event_pc li:nth-child(1) .event_img {
    background-image: url("../images/tablet/event1.jpg");
    background-position: 50% 0; }
  #cnt5 .event_pc li:nth-child(2) .event_img {
    background-image: url("../images/tablet/event2.jpg");
    background-position: 47% 0; }
  #cnt5 .event_pc li:nth-child(3) .event_img {
    background-image: url("../images/tablet/event3.jpg");
    background-position: 56% 0; }
  #cnt5 .event_pc li:nth-child(4) .event_img {
    background-image: url("../images/tablet/event4.jpg");
    background-position: 17% 0; }
  #cnt5 .event_pc li:nth-child(5) .event_img {
    background-image: url("../images/tablet/event5.jpg");
    background-position: 7% 0; }
  #cnt5 .event_pc li:nth-child(6) .event_img {
    background-image: url("../images/tablet/event6.jpg");
    background-position: 79% 0; }
  #cnt5 .event_pc .event_txt {
    width: 26.6331658291vw;
    height: 8.3752093802vw;
    padding: 10px 5px 25px 25px;
    visibility: hidden; }
    #cnt5 .event_pc .event_txt h3 {
      font-size: 20px;
      line-height: 47px; }
    #cnt5 .event_pc .event_txt p {
      font-size: 16px;
      line-height: 35px; }
    #cnt5 .event_pc .event_txt a {
      font-size: 14px; }
    #cnt5 .event_pc .event_txt a:hover, #cnt5 .event_pc .event_txt a:focus {
      border-color: #FFB300;
      color: #FFB300; }
  #cnt5 .event_pc li.on .event_img {
    width: 26.6331658291vw; } }
@media screen and (max-width: 767px) {
  #cnt1 {
    height: 100vh; }
    #cnt1 .since_box {
      position: relative;
      width: 100%;
      background: url("../images/pc/cnt1_bg.jpg") no-repeat left top/cover; }
      #cnt1 .since_box .since_txt {
        color: #ddd;
        font-weight: 700;
        position: absolute;
        left: 100px;
        bottom: 330px;
        z-index: 5; }
        #cnt1 .since_box .since_txt .since {
          display: block;
          font-size: 60px;
          font-weight: 700;
          padding: 0 0 20px 10px; }
        #cnt1 .since_box .since_txt .year {
          font-size: 180px;
          line-height: 130px; }
      #cnt1 .since_box .dark {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 400px;
        background: rgba(0, 0, 0, 0.4);
        color: #fff;
        padding: 100px 143px 128px 116px;
        font-size: 18px;
        line-height: 45px; }
        #cnt1 .since_box .dark .yellow {
          font-size: 25px;
          font-weight: 500; }
    #cnt1 .first_box {
      display: none; }

  #cnt2 .sub_tit h2 {
    height: 65px;
    margin-bottom: 15px; }
  #cnt2 .sub_tit p {
    line-height: 30px;
    font-size: 18px;
    padding-bottom: 10px; }
  #cnt2 ul li a img {
    border-radius: 10px; }
  #cnt2 .up {
    margin: 5.3333333333vw 0 1.3333333333vw -13.3333333333vw; }
    #cnt2 .up li:nth-child(1) img, #cnt2 .up li:nth-child(4) img {
      width: 200px; }
    #cnt2 .up li:nth-child(2) img {
      width: 200px; }
    #cnt2 .up li:nth-child(3) img {
      width: 150px; }
  #cnt2 .down li:nth-child(1) img, #cnt2 .down li:nth-child(3) img {
    width: 250px; }
  #cnt2 .down li:nth-child(2) img {
    height: 150px;
    border-radius: 15px; }

  #cnt3 {
    background: url("../images/mobile/bg2.jpg") no-repeat right top/cover;
    height: 100%; }
    #cnt3 .tit_txt h2 {
      padding-bottom: 30px; }
    #cnt3 .tit_txt p {
      padding: 10px 0;
      padding-bottom: 10px; }
    #cnt3 .motion {
      padding-left: 0; }
      #cnt3 .motion .vanish * {
        padding-right: 10px; }
      #cnt3 .motion .vanish .phone {
        height: 400px; }
      #cnt3 .motion .vanish .bluetooth {
        height: 100px; }
      #cnt3 .motion .print {
        width: 420px;
        height: 260px; }
        #cnt3 .motion .print .camera {
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          transform: rotate(90deg);
          width: 350px; }
        #cnt3 .motion .print .img_m {
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          position: absolute;
          right: 10%;
          top: 50%;
          z-index: 3; }
      #cnt3 .motion .print.outMini .img_m {
        right: -10%; }
      #cnt3 .motion .print.outMiniMove .img_m {
        right: 50%; }

  #cnt4 {
    height: 111.9791666667vw; }
    #cnt4 h2, #cnt4 .txt_box {
      border-width: 10px; }
    #cnt4 p {
      font-size: 14px; }
    #cnt4 .pass_wrapper {
      display: none; }
    #cnt4 #pass_delaySlide {
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      visibility: visible;
      position: absolute;
      left: 10%;
      top: 50%;
      width: 500px;
      height: 401px; }
      #cnt4 #pass_delaySlide .pass {
        position: absolute;
        left: 0;
        top: 0; }
        #cnt4 #pass_delaySlide .pass:nth-child(1) {
          z-index: 7; }
        #cnt4 #pass_delaySlide .pass:nth-child(2) {
          z-index: 5; }
        #cnt4 #pass_delaySlide .pass:nth-child(3) {
          z-index: 3; }
      #cnt4 #pass_delaySlide .top_img {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 9; }

  #cnt5 .event_pc {
    display: none; }
  #cnt5 #acdn {
    visibility: visible;
    overflow: visible;
    max-height: 10000px; }
  #cnt5 .acdnHeader {
    background: no-repeat;
    width: calc-vw767(400);
    height: calc-vw767(450); } }

/*# sourceMappingURL=%EB%B0%B1%EC%97%852.css.map */
