@charset "utf-8";

@import "_var", "_mixin", "_function";
// pc 제어
#cnt1{
    @include flex;
    height: 100vh;
    .since_box{
        position: relative;width: 50%;background: url("../images/pc/cnt1_bg.jpg") no-repeat left top / cover;
        .since_txt{
            color: #ddd;font-weight: 700;position: absolute;left: 100px;bottom: 330px;z-index: 5;
            .since{display: block;font-size: 60px;font-weight: 700;padding: 0 0 20px 10px;}
            .year{font-size: 180px;line-height: 130px;}
        }
        .dark{
            position: absolute;bottom: 0;left: 0;width: 100%;height: 400px;background: rgba(0, 0, 0,.4);color: #fff;padding: 100px 143px 128px 116px;font-size: 18px;line-height: 45px;
            .yellow{font-size: 25px;font-weight: 500;}
        }

    }
    .first_box{
        position: relative;width: 50%;background: #faf2e7;
        > *{position: absolute;right: 20%;}
        .circle{
            top: 15%;width: 430px;height: 430px;border-radius: 50%;border: 20px solid rgba(233, 233, 233,.7);padding: 140px 24px 184px;font-size: 18px;text-align: right;
            .red{font-size: 40px;font-weight: 700;}
        }
        .filmcase{top: 45%;width: 500px;height: 260px;}
        .camera{top: 60%;width: 300px;height: 290px;}
    }
}
#cnt2, #cnt3, #cnt4, #cnt5{padding: calc-vw1920(100) calc-vw1920(200);box-sizing: content-box;}
#cnt2{
    overflow: hidden;
    .sub_tit{
        h2{font-size: 50px;font-weight: 700;margin-bottom: 30px;height: 65px;}
        p{font-size: 18px;padding-bottom: 10px;line-height: 1.9;}
    }
    ul{
        @include flex;
        @include transform(rotate(-33deg));
        li{
            margin-right: 50px;
            a img{
                @include transition(all 0.5s);
                @include transform(translate(0,0));
                border-radius: 30px;box-shadow: none;
            }
        }
        li.on a img{
            @include transform(translateY(-20%));            
            box-shadow: -20px 40px 6px #ddd;
        }
    }
    .up{
        margin-left: calc-vw1920(-250);
        margin-bottom: calc-vw1920(100);
        li:nth-child(1) img, li:nth-child(4) img{width: 400px;}
        li:nth-child(2) img{width: 430px;}
        li:nth-child(3) img{width: 381px;}
    }
    .down{
        margin-left: calc-vw1920(350);
        li:nth-child(1) img, li:nth-child(3) img{width: 500px;}
        li:nth-child(2){
            margin-top: 60px;
            img{
            @include transform(rotate(-90deg) translateX(0));
            height: 300px;border-radius: 40px;box-shadow: none;
            }
        }
        li.on a img{
            @include transform(rotate(-90deg) translateX(20%));
            box-shadow: -40px -40px 6px #ddd;
        }
    }
}
#cnt3{
    background: url("../images/pc/cnt3_bg.jpg") no-repeat left top / cover;overflow: hidden;
    .tit_txt{
        h2{font-size: 50px;font-weight: 700;padding-bottom: 30px;}
        p{padding: 10px 0;font-size: 18px;padding-bottom: 10px;}
    }
   .motion{
       @include flex;
       @include align-items;
       @include justify-content(flex-start);margin-top: 35px;
       .vanish{
           width: 600px;height: 500px;
           * {padding-right: 100px;}
           .phone{height: 450px;}
           .bluetooth{height: 150px;margin: 160px 0;}
       }
       .vanish.on{
           .phone{
               @include keyframes(moveLitRight);
               @include animation(moveLitRight 1s ease-in-out 1 forwards);
            }
            .bluetooth{
                @include keyframes(blink);
                @include animation(blink 0.5s ease-in-out infinite forwards);
             }
        }
       .print{
           @include transition(all 0.5s);
            position: relative;width: 1000px;height: 500px;
            .camera{position: absolute;z-index: 100;left: 0;top: 0;width: 445px;height: 258px;background: url("../images/pc/cnt3_camera.png") no-repeat;margin: 112px 0;}
            .img_m{
                @include translateY-50;
                position: absolute;right: 10%;top: 50%;z-index: 3;width: 245px;height: 184px;background: url("../images/pc/cnt3_img_m.png") no-repeat;opacity: 0;
            }
            .img_b{
                @include translateY-50;
                background: url("../images/pc/cnt3_img_b.png") no-repeat;position: absolute;right: -40%;top: 50%;z-index: 3;width: 600px;height: 450px;opacity: 0;
            }
       }       
   }
}
@keyframes moveLitRight {
    0%{@include transform(rotate(0deg));}
    50%{@include transform(rotate(15deg));}
    100%{@include transform(rotate(0deg));}
}
@keyframes blink {
    0%{opacity: 0.5;}
    100%{opacity: 1;}
}
#cnt4{
    position: relative;height: calc-vw1920(1550);
    h2{display: inline-block;font-size: 50px;font-weight: 700;margin-left: 100px;}
    .pass_wrapper{
        @include translateY-50;
        position: absolute;left: 15%;top: calc-vw1920(800);width: calc-vw1920(1300);height: calc-vw1920(869);overflow:hidden;box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      
      /* Our image information */
      .before, .after {
        position: absolute;top:0;left:0;width:100%;height:100%;background: #fff no-repeat center / cover; pointer-events:none;overflow: hidden;
        img{width: calc-vw1920(1300);height: calc-vw1920(869);}
      }
      .scroller{
          @include translateY-50;
            position: absolute;left:100px;top:50%;width: 50px;height:50px;border-radius:50%;background-color: transparent;opacity:0.6;pointer-events:auto;cursor: pointer;border: 5px solid #fff;
            &.scroller:hover{opacity:1;}
            .scroller__thumb{width:100%;height:100%;padding:5px;}
            &:before, &:after{content:" ";display: block;width: 7px;height: 9999px;position: absolute;left: 50%;margin-left: -3.5px;z-index: 30;transition:0.1s;}
            .point{
                @include translateY-50;
                @include keyframes(moveLeft);
                @include animation(moveLeft 1s ease-in-out infinite forwards);
                position: absolute;left: 100px;top: 50%;width: 100px;height: 88px;background: url("../images/pc/point_right.png") no-repeat;
            }
      }
      .scrolling{pointer-events:none;opacity:1;}// z-index: 1;
      .scroller:before{
        top:100%;
      }
      .scroller:after{
        bottom:100%;
      }
      
      /* If you want to cahnge the colors, make sure you change the fill in the svgs to match */
      .scroller:before,
      .scroller:after{
        background: #fff;
      }
    }
    #pass_delaySlide{visibility: hidden;max-height: 0;overflow: hidden;}
    .txt_box{
        position: absolute;right: 17%;top: calc-vw1920(1250);
        > *{padding: 15px 0;}
        h3{font-size: 40px;padding-bottom: 30px;}
        p{
            font-size: 18px;padding-bottom: 10px;
            .dp_change{display: block;}
        }
        
    }
}
@keyframes moveLeft {
    0%{left: 100px;}
    100%{left: 150px;}
}
#cnt5{
    background: #faf2e7;box-sizing: border-box;
    h2{font-size: 50px;font-weight: 700;padding-bottom: 30px;}
    p{font-size: 18px;padding-bottom: 10px;}
    .event_pc{
        @include flex;
        padding-top: 30px;margin-bottom: 100px;
      li{
            margin-right: 20px;position: relative;
            .event_img{
                @include transition(width 0.5s);
                width: calc-vw1920(160);height: 467px;background: no-repeat;cursor: pointer;
            }
        }
        li:nth-child(1) .event_img{background-image: url("../images/pc/event1.jpg");background-position: 50% 0;}
        li:nth-child(2) .event_img{background-image: url("../images/pc/event2.jpg");background-position: 47% 0;}
        li:nth-child(3) .event_img{background-image: url("../images/pc/event3.jpg");background-position: 79% 0;}
        li:nth-child(4) .event_img{background-image: url("../images/pc/event4.jpg");background-position: 56% 0;}
        li:nth-child(5) .event_img{background-image: url("../images/pc/event5.jpg");background-position: 7% 0;}
        li:nth-child(6) .event_img{background-image: url("../images/pc/event6.jpg");background-position: 17% 0;}
        .event_txt{
            position: absolute;left: 0;bottom: -100px;background: #fff;width: calc-vw1920(496);height: 105px;padding: 10px 5px 25px 25px;visibility: hidden;
            h3{font-size: 30px;font-weight: 700;line-height: 47px;}
            p{font-size: 18px;line-height: 35px;}
            a{font-size: 20px;font-weight: 600;position: absolute;right: 25px;top: 15px;padding: 5px 30px 5px 10px;background: url("../images/pc/btn_more.png") no-repeat 95% 55%;border: 1px solid #222;border-radius: 10px;}
            a:hover, a:focus{border-color: $yellow;color: $yellow;background-image: url("../images/pc/btmn_more_on.png");}
        }
        li.on .event_img{width: calc-vw1920(496);@include transition(all 0.5s);}
        li.on .event_txt{visibility: visible;}
    }
    .accordion{visibility: hidden;max-height: 0;overflow: hidden;}
}
@media screen and (max-width: 1440px) {
    #cnt1{
        .since_box{
            .dark{
                padding: 100px 0 10px 100px;
            }
        }
        .first_box{
            .circle{
                top: 18%;padding: 120px 24px 184px;
            }
            .filmcase{width: 400px;height: 200px;top: 50%;}
            .camera{width: 250px;height: 210px;top: 65%;}
        }
    }
    #cnt2, #cnt3, #cnt4, #cnt5{padding: calc-vw1440(100) calc-vw1440(100);}
    #cnt2{
        .sub_tit{
            h2{font-size: 40px;}
        }
        ul li a img{ border-radius: 20px; }
        .up{
            margin-left: calc-vw1440(-150);
            margin-bottom: calc-vw1440(50);
            li:nth-child(1) img, li:nth-child(4) img{width: 300px;}
            li:nth-child(2) img{width: 350px;}
            li:nth-child(3) img{width: 280px;}
        }
        .down{
            li:nth-child(1) img, li:nth-child(3) img{width: 350px;}
            li:nth-child(2){
                img{
                height: 205px;border-radius: 30px;
                }
            }
        }
    }
    #cnt3{
        .tit_txt{
            h2{font-size: 40px;}
        }
       .motion{
           padding-left: 100px;margin-top: 50px;
           .vanish{
            * {padding-right: 60px;}
            .phone{height: 350px;}
            .bluetooth{height: 120px;margin: 140px 0;}
        }
        .print{
                .camera{background-image: url("../images/tablet/cnt3_camera.png");}
                .img_m{background-image: url("../images/tablet/cnt3_img_m.png");right: 20%;}
                .img_b{background-image: url("../images/tablet/cnt3_img_b.png");right: -20%;}
           }
       }
    }
    #cnt4{
        h2{font-size: 40px;}
        .txt_box h3{font-size: 25px;}
        h2, .txt_box{border-width: 15px;}
    }
    #cnt5{
        h2{font-size: 40px;}
        .event_pc li .event_img{width: calc-vw1440(130);}
        .event_pc li .event_txt {
            h3{font-size: 25px;}
            a{font-size: 16px;}
        }
    }
}
// 태블릿제어    
@media screen and (max-width: 1194px) {
    #cnt5{
        .event_pc{
          li{
                margin-right: 20px;
                .event_img{
                    width: calc-vw1194(103);height: calc-vw1194(300);
                }
            }
            li:nth-child(1) .event_img{background-image: url("../images/tablet/event1.jpg");background-position: 50% 0;}
            li:nth-child(2) .event_img{background-image: url("../images/tablet/event2.jpg");background-position: 47% 0;}
            li:nth-child(3) .event_img{background-image: url("../images/tablet/event3.jpg");background-position: 56% 0;}
            li:nth-child(4) .event_img{background-image: url("../images/tablet/event4.jpg");background-position: 17% 0;}
            li:nth-child(5) .event_img{background-image: url("../images/tablet/event5.jpg");background-position: 7% 0;}
            li:nth-child(6) .event_img{background-image: url("../images/tablet/event6.jpg");background-position: 79% 0;}
            .event_txt{
                width: calc-vw1194(318);height: calc-vw1194(100);padding: 10px 5px 25px 25px;visibility: hidden;
                h3{font-size: 20px;line-height: 47px;}
                p{font-size: 16px;line-height: 35px;}
                a{font-size: 14px;}
                a:hover, a:focus{border-color: $yellow;color: $yellow;}
            }
            li.on .event_img{width: calc-vw1194(318);}
        }
    }
    }
// 모바일제어
@media screen and (max-width: 767px) {
    #cnt1{
        @include flex-wrap;
        .since_box{
            width: 100%;height: 80%;background: url("../images/mobile/cnt1_bg.jpg") no-repeat 0 10% / cover;position: relative;
            .since_txt{
                left: 20px;bottom: 280px;
                .since{font-size: 40px;}
                .year{font-size: 100px;line-height: 0.35;}
            }
            .dark{
                bottom: 109px;height: 98px;font-size: 16px;line-height: 30px;box-sizing:content-box;padding: 57px 37px;margin-top: 30px;width: 80%;
                .yellow{font-size: 20px;font-weight: 500;}
                .dp_change, .di_change{display: block;}
                .not_in_mobile{display: none;}
            }
    
        }
        .first_box{
            position: absolute;width: 100%;left: 0;bottom: 0;height: 33%;
            > *{position: absolute;right: 12%;}
            .circle{
                top: 70%;width: 230px;height: 100px;padding: 0 40px 0 20px;font-size: 16px;text-align: left;border: none;border-radius: none;left: 10px;
                .red{font-size: 20px;font-weight: 700;}
            }
            .filmcase{top: -8%;width: 250px;height: 129px;}
            .camera{top: 20%;width: 150px;height: 144px;}
            }
    }
    #cnt2, #cnt3, #cnt4, #cnt5{padding: calc-vw375(40) calc-vw375(35);}
    #cnt2{
        .sub_tit{
            h2{height: 45px;margin-bottom: 10px;font-size: 30px;}
            p{
                line-height: 30px;font-size: 18px;padding-bottom: 10px;
                .dp_change{display: block;}
            }
        }
            ul li a img{ border-radius: 10px; }
        .up{
            margin: calc-vw375(120) 0 calc-vw375(60) calc-vw375(-240);
            li:nth-child(1) img, li:nth-child(4) img{width: 200px;}
            li:nth-child(2) img{width: 200px;}
            li:nth-child(3) img{width: 150px;}
        }
        .down{
            margin-left: calc-vw375(-125);
            li:nth-child(1) img, li:nth-child(3) img{width: 250px;}
            li:nth-child(2){
                img{height: 150px;border-radius: 15px;}
            }
        }
    }
    #cnt3{
        background: url("../images/mobile/bg2.jpg") no-repeat right top / cover;height: 100%;
        .tit_txt{
            h2{padding-bottom: 30px;font-size: 30px;}
            p{padding: 10px 0;padding-bottom: 10px;}
            .dp_change{display: block;}
        }
       .motion{
           display: inline;padding-left: 0;
           .vanish img{display: none;}
           .vanish{
               position: relative;width: 200px;height: 230px;background: no-repeat;margin-top: 50px;
               &::before{
                content: "";position: absolute;left: 0;top: 10%;background: url("../images/mobile/cnt3_m_phone.png") no-repeat;width: 102px;height: 198px;
               }
               &::after{content: "";position: absolute;right: 0;top: 10%;width: 45px;height: 60px;background: url("../images/mobile/cnt3_m_blue.png") no-repeat;margin: 50px 0;}
               * {padding-right: 10px;}
           }
           .vanish.on{
            &::before{
                @include keyframes(moveLitRight);
                @include animation(moveLitRight 1s ease-in-out 1 forwards);
             }
            &::after{
                 @include keyframes(blink);
                 @include animation(blink 0.5s ease-in-out 3 forwards);
              }
         }
            .print{
                width: 300px;height: 260px;
                .camera{
                    background-image: url("../images/mobile/cnt3_m_camera.png");width: 150px;height: 150px;margin: 60px 0;
                }
                .img_m{
                    background-image: url("../images/mobile/cnt3_print_img.png");top: 67%;
                }
                .img_b{display: none;}
           }
       }
    }
    #cnt4{
        height: calc-vw375(800);
        h2{font-size: 30px;margin-left: 0;}
        .pass_wrapper{display: none;}
        #pass_delaySlide{
            @include translateY-50;
            position: absolute;left: 10%;top: 33%;width: 300px;height: 200px; visibility: visible;max-height: 1000px;
            .pass{position: absolute;left: 0;top: 0;width: 300px;height: 200px;
                &:nth-child(1){z-index: 7;}
                &:nth-child(2){z-index: 5;}
                &:nth-child(3){z-index: 3;}
            }
            .top_img{position: absolute;left: 0;top: 0;width: 300px;height: 200px;z-index: 9;}
        }
        .txt_box{
            width: 208px;top: calc-vw375(550);right: 7%;
            h3{
                padding-bottom: 0;
                .dp_change{display: block;}
            }
            p{
                font-size: 16px;
                .dp_change{display: inline;}
            }
            .not_in_mobile{display: none;}
        }
    }
    #cnt5{
        h2{font-size: 30px;}
        p{
            font-size: 16px;line-height: 25px;
            .dp_change{display: block;}
        }
        .event_pc{display: none;}
        .accordion{
            visibility: visible;overflow: visible;max-height: 10000px;
            li{margin-bottom: 10px;}
            li .acdnHeader{background: no-repeat;width: calc-vw375(299);height: calc-vw375(100);}
            li:nth-child(1) .acdnHeader{background: url("../images/mobile/event1.jpg") 0% 34%;}
            li:nth-child(2) .acdnHeader{background: url("../images/mobile/event2.jpg") 0% 37%;}
            li:nth-child(3) .acdnHeader{background: url("../images/mobile/event3.jpg") 0% 17%;}
            li:nth-child(4) .acdnHeader{background: url("../images/mobile/event4.jpg") 0% 51%;}
            li:nth-child(5) .acdnHeader{background: url("../images/mobile/event5.jpg") 60% 0%;}
            li:nth-child(6) .acdnHeader{background: url("../images/mobile/event6.jpg") 0% 47%;}
            li .acdnPanel{
                position: relative;max-height: 0;overflow: hidden;visibility: hidden;
                img{width: calc-vw375(299);}
                .event_txt{
                    font-size: 12px;line-height: 35px;position: absolute;left: 0;bottom: 0;width: calc-vw375(299);height: calc-vw375(83);padding: 8px 10px;background: #fff;
                    h3{font-size: 18px;}
                    a{background: url("../images/mobile/cnt5_m_btn_more.png") no-repeat 97% 45%;position: absolute;right: 25px;top: 12px;padding: 4px 12px 3px 2px;border-radius: 5px;border-bottom: 1px solid #222;line-height: 16px;}
                    a:hover, a:focus{background-image: url("../images/mobile/cnt5_m_btn_moreMon.png");border-color: $yellow;color: $yellow;}
                }
            }
            li.on{
                .acdnHeader{display: none;}
                .acdnPanel{visibility: visible;max-height: 500px;}
            }
        }
      }
}